.flexible {
    display: flex;
}

.justify-content-space-around{
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.justify-content-center{
    justify-content: center;
}

.space-evenly{
    justify-content: space-evenly;
}