body {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}

.cadreResto {
    background-color: orange;
    border: 2px solid white;
    align-items: center;
    width: 400px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blocImageResto {
    text-align: center;
}

.center {
    text-align: center;
}

header {
    background-color: orange;
    align-items: center;
    height: 100px;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0%;
    margin-bottom: 100px;
}

footer {
    background-color: orange;
    align-items: center;
    height: 100px;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}



main {
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
}



.blocImageResto img {
    width: 200px;
}

.logo img {
    margin: 0;
    height: 100px;
}

.modifier {
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.modifier:hover {
    background-color: purple;
}

.supprimer {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}
.supprimer:hover {
    background-color: darkred;
}

a { 
    text-decoration: none;
    color: white;
}