.barre-icon {
    position: absolute;
    z-index: 1;
    top: 5vh;
    left: 5vw;
    padding-bottom: 2vh;
  }
  
  .barre-icon span {
    height: 5px;
    width: 40px;
    background-color: blueviolet;
    display: block;
    margin: 5px 0px 5px 0px;
    transition: 0.7s ease-in-out;
    transform: none;
  }
  
  #openmenu:checked ~ .vitre-menu {
    left: 0px;
    transform: translateX(0px);
  }
  
  #openmenu:checked ~ .barre-icon span:nth-of-type(2) {
    transform: translate(0%, 175%) rotate(-45deg);
    background-color: orange;
  }
  
  #openmenu:checked ~ .barre-icon span:nth-of-type(3) {
    transform: rotate(45deg);
    background-color: orange;
  }
  
  #openmenu:checked ~ .barre-icon span:nth-of-type(1) {
    opacity: 0;
  }
  
  div.vitre-menu {
    background-color: blueviolet;
    position: absolute;
    transform: translateX(-105vw);
    transform-origin: (0, 0);
    width: 25%;
    height: 100%;
    transition: 0.6s ease-in-out;
    position: fixed;
  }
  
  .vitre-menu nav {
    padding: 5%;
  }
  
  .lien-menu li, a, span {
        transition: 0.5s ease-in-out;
  }
  
  .vitre-menu ul {
    padding: 10%;
    display: inline-block;
  }
  
  .vitre-menu li {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
      font-size: 30px;
    list-style-type: none;
  }
  
  .lien-menu li a {
    color: orange;
    text-decoration: none;
  }
  
  
  .lien-menu li:hover a {
    color: orangered;
  }
  
  input.barre-checkbox {
    position: absolute;
    z-index: 3;
    left: 5vw;
    width: 10vw;
    opacity: 0;
    height: 6vh;
  }